{% extends 'app/app-base.html' %}
{% block content %}
<h1>Add Patient</h1>
<form class="ui form segment" action="/add" method="post">
	{% csrf_token %}
	<div class='ui three fields'>
		<div class='field'>
			{{ form.lastname.label }}
			{{ form.lastname }}
		</div>
		<div class='field'>
			{{ form.firstname.label }}
			{{ form.firstname }}
		</div>
		<div class='field'>
			{{ form.middlename.label }}
			{{ form.middlename }}
		</div>
	</div>
	<div class='ui two fields'>
		<div class='field'>
			{{ form.phone.label }}
			{{ form.phone }}
		</div>
		<div class='field'>
			{{ form.email.label }}
			{{ form.email }}
		</div>
	</div>


	<div class='ui field'>
		<button type="submit" class="ui green button"><i class='plus icon'></i>Add</button>
	</div>


</form>

<script>
	$(document).ready(function(){
		$('.dropdown').dropdown();
	});
</script>

{% endblock %}
