{% extends 'app/app-base.html' %}
{% block content %}
<h1>Analyze CT Scan</h1>
<form class="ui form segment" action="/add" method="post">
	{% csrf_token %}

	
  <div class='field'>
    <label>Upload CT Scan Image (PNG)</label>
    <input type="file">
  </div>
	


	<div class='ui field'>
		<button type="submit" class="ui teal button right floated"><i class='search icon'></i>Analyze Image</button>
	</div>


</form>

<script>
	$(document).ready(function(){
		$('.dropdown').dropdown();
	});
</script>

{% endblock %}
