{% extends 'app/app-base.html' %}
{% block content %}
<h1>Send Results</h1>
<form class="ui form segment" action="/send" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class='ui two fields'>
		<div class='field'>
			{{ form.patient.label }}
			{{ form.patient }}
		</div>
		<div class='field'>
			{{ form.doctor.label }}
			{{ form.doctor }}
		</div>
	</div>

	<div class='ui three fields'>
		<div class='field'>
			{{ form.test.label }}
			{{ form.test }}
		</div>
		<div class='field'>
			{{ form.result.label }}
			{{ form.result }}
		</div>
		<div class='field'>
			{{ form.file.label }}
			{{ form.file }}
		</div>
	</div>

	<div class='ui field'>
		<div class='field'>
			{{ form.notes.label}}
			{{ form.notes }}
		</div>
	</div>

	<div class='ui field'>
		<button type="submit" class="ui blue button"><i class='paper plane icon'></i>Send</button>
	</div>
</form>

<script>
	$(document).ready(function(){
		$('.dropdown').dropdown();
	});
</script>

{% endblock %}
